@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  --body-font-size: 1rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-size: var(--body-font-size);
  color: var(--white);
  background-color: var(--grey-900);
  margin: 0;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 5rem;
  width: 100%;
}
.profile-wrapper {
  background-color: var(--grey-800);
  width: 480px;
  max-width: 100%;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}
h1 {
  font-size: calc(var(--body-font-size) * 1.8);
}
.profile-wrapper > * {
  margin: 0;
}
.profile-wrapper .profile-header {
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin: 1rem;
}
.profile-wrapper .profile-header > * {
  margin: 0;
}
.profile-header div {
  padding: 2rem 1rem;
}
.profile-header div > * {
  width: 100%;
  margin: 0.5rem;
}
.profile-wrapper .profile-header img {
  border-radius: 100%;
  max-width: 100px;
}

.profile-wrapper .place {
  color: var(--green);
}

.profile-wrapper ul {
  list-style-type: none;
  margin: 1rem auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.profile-wrapper li {
  position: relative;
  background-color: var(--grey-700);
  padding: 1rem;
  border-radius: 8px;
}
.profile-wrapper span {
  position: absolute;
  inset: 0;
}

.profile-wrapper ul a {
  text-decoration: none;
  color: white;
}
.profile-wrapper a:hover li {
  background-color: rgb(69, 70, 70);
}
